<header>
  <h1>Time Machine</h1>
</header>
<hr />
<p>
  Welcome to the Time Machine.  Carefully select your destination.
</p> 
<img src="/assets/img/TimeMachine.jpg" alt="Time Machine Image" />
<div>
Traveler:
</div>
<div>
  <select id="Traveler">
    <option value="1">Tom Masters</option>
    <option value="2">Kim Smith</option>
    <option value="3">Ben Kingsman</option>
  </select>
</div>
<div>
  Year:
</div>
<div>
  <input id="Year" type="text" />
</div>
<div>
  <button>Go</button>
</div>
<div>
  <a routerLink="/log" routerLinkActive="active">Time Travel Log</a>
</div>