<h1>Admin</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-admin">
            <div class="text-center">
                <span class="glyphicon glyphicon-cog text-large"></span>
            </div>
            <div class="caption text-center">
                <h3>Assessments</h3>
                <p><a [routerLink]="['/assessmentAdmin']">Go</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-admin">
            <div class="text-center">
                <span class="glyphicon glyphicon-cog text-large"></span>
            </div>
            <div class="caption text-center">
                <h3>Levels</h3>
                <p><a [routerLink]="['/levelAdmin']">Go</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-admin">
            <div class="text-center">
                <span class="glyphicon glyphicon-cog text-large"></span>
            </div>
            <div class="caption text-center">
                <h3>Subjects</h3>
                <p><a [routerLink]="['/subjectAdmin']">Go</a></p>
            </div>
        </div>
    </div>
</div>